<!DOCTYPE html>
<html lang="en" ng-app="dplan">
<head>
  <base href="/">
  <meta itemprop="url" content="https://dplan.co/">
  <span itemprop="location" itemscope itemtype="http://schema.org/Place">
  <meta itemprop="name" content="Bogotá dplan">
  <span itemprop="address" itemscope itemtype="http://schema.org/PostalAddress">
  <meta itemprop="streetAddress" content="110111">
  <meta itemprop="addressLocality" content="Bogotá">
  <meta itemprop="addressRegion" content="Cundinamarca">
  <meta itemprop="addressCountry" content="Colombia">
  <meta itemprop="postalCode" content="110111"></span></span>
  <meta itemprop="image" content="https://dplan.co/img/dplan.png">
  <span itemprop="performer" itemscope itemtype="http://schema.org/Person">
  <meta itemprop="name" content="Andrés Mauricio Valenzuela"></span>
  <span itemprop="offers" itemscope itemtype="http://schema.org/Offer">
  <meta itemprop="price" content="desde 20000 COP"></span>
  <meta itemprop="startDate" content="2017-08-30T12:05">
  <meta itemprop="description" content="Actividades únicas cerca de Bogotá, canopy senderismo ecoturismo pesca deportiva reservas planes cercania telering">
  <meta name="HandheldFriendly" content="true">
  <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
  <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
  <meta charset="UTF-8">
  <meta id="ttleMeta" property="og:title" content="DPlan">
  <meta property="og:description" content="Compra actividades únicas cerca de Bogotá">
  <meta property="og:type" content="website">
  <meta id="imgMeta" property="og:image" content="https://s3-eu-west-1.amazonaws.com/dplan/bbab6.jpg">
  <meta id="urlMeta" property="og:url" content="https://dplan.co">
  <link rel="shortcut icon" type="image/png" href="../img/dplan.png"/>
  <title>.: DPlan - Inicio :.</title>
  <script src="../js/jqueryFinal.min.js"></script>
  <!-- Chatra {literal} -->
<script async>
    (function(d, w, c) {
        w.ChatraID = 'iTYgsMd97BTDLe4tb';
        var s = d.createElement('script');
        w[c] = w[c] || function() {
            (w[c].q = w[c].q || []).push(arguments);
        };
        s.async = true;
        s.src = (d.location.protocol === 'https:' ? 'https:': 'http:')
        + '//call.chatra.io/chatra.js';
        if (d.head) d.head.appendChild(s);
    })(document, window, 'Chatra');
</script>
<!-- /Chatra {/literal} -->
<!-- Facebook Pixel Code -->
<script async>
!function(f,b,e,v,n,t,s){if(f.fbq)return;n=f.fbq=function(){n.callMethod?
n.callMethod.apply(n,arguments):n.queue.push(arguments)};if(!f._fbq)f._fbq=n;
n.push=n;n.loaded=!0;n.version='2.0';n.queue=[];t=b.createElement(e);t.async=!0;
t.src=v;s=b.getElementsByTagName(e)[0];s.parentNode.insertBefore(t,s)}(window,
document,'script','https://connect.facebook.net/en_US/fbevents.js');
fbq('init', '100840487318857'); // Insert your pixel ID here.
fbq('track', 'PageView');
</script>
<noscript><img height="1" width="1" style="display:none"
src="https://www.facebook.com/tr?id=100840487318857&ev=PageView&noscript=1"
/></noscript>
<!-- DO NOT MODIFY -->
<!-- End Facebook Pixel Code -->
<script async>
  (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
  (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
  m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
  })(window,document,'script','https://www.google-analytics.com/analytics.js','ga');

  ga('create', 'UA-105364233-1', 'auto');
  ga('send', 'pageview');

</script>
<script type="text/javascript">
    /*var userAgent = navigator.userAgent || navigator.vendor || window.opera;
    if (/android/i.test(userAgent) || /iPad|iPhone|iPod/.test(userAgent) && !window.MSStream) {
         window.location = "./#!/ver-mapa/";
    }*/
</script>
</head>
<body class="bkBody">
<!-- Header -->
  <div class="nav-links" style="position: fixed;top: 1px;z-index: 9;width: 100%;">  
    <nav class="navbar navbar-inverse" style="border-bottom-style: groove;border-bottom-color: #64dd17;">
      <div class="container-fluid">
        <div class="navbar-header">
          <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#myNavbar">
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
          <a class="navbar-brand" href="#" style="padding-top: 5px; margin-left: 15px;"><img style="height: 70px;padding: 10px;" src="../img/dplan.png" alt="DPlan!"></a>
        </div>
        <div class="collapse navbar-collapse" id="myNavbar">
          <ul class="nav navbar-nav link-effect" style="float:right;">
            <li><a data-toggle="modal" data-target="#howWorks">Cómo funciona</a></li>
            <li><a href="#planes">Nuestros planes</a></li>
            <li><a href="#!/arma-tu-plan">Arma tu plan</a></li>
            <li><a data-toggle="modal" data-target="#largeModal">Nosotros</a></li>
            <li><a href="#importantLinks">Contacto</a></li>
            <li><a href="#subscribe">Suscríbete</a></li>
            <!--<li><a href="#!/blog">Blog</a></li>-->
          </ul>
        </div>
      </div>
    </nav>
  </div>
 <!-- End header -->
  <div ng-view></div>
<!-- footer -->
 <div class="footer" id="importantLinks">
  <div class="container-fluid">
    <div class="col-lg-2 col-md-2 col-xs-3 footer-w3ls2" style="padding-top: 7px">
      <div class="secure"></div>
    </div>
    <div class="col-lg-2 col-md-2 col-xs-5 footer-w3ls2" style="padding:20px 5px 0px 0px; text-align: left">
      <h5 style="color: #fff">Enlaces de interés</h5>
      <hr class="mini">
      <p data-toggle="modal" data-target="#largeModal">Sobre nosotros </p>
      <p data-toggle="modal" data-target="#formBePart">Cargar mis planes en Dplan<a href="https://dplan.co/" target="_blank"></a></p>
      <p>Planes corporativos<a href="#!/arma-tu-plan" target="_blank"></a></p>
      <p>Términos y condiciones<a href="https://dplan.co/politicadeprivacidad.pdf" target="_blank"></a></p>
      <p>Mapa del <a href="https://dplan.co/sitemap.xml" target="_blank">sitio</a></p>
    </div>
        <div class="col-lg-8 col-md-8 col-xs-4 footer-w3ls2" style="padding:20px 5px 0px 0px; text-align: left">
      <h5 style="color: #fff">Servicio al cliente</h5>
      <hr class="mini">
      <p><a target="_blank" href="https://www.facebook.com/DPl4n/"><i class="fa fa-facebook"></i> /dpl4n</a></p>
      <p><a target="_blank" href="https://twitter.com/dplan_"><i class="fa fa-twitter"></i> @dplan_</a></p>
      <p><a target="_blank" href="https://api.whatsapp.com/api/send?phone=573016227485"><i class="fa fa-whatsapp"> 3016227485</i></a></p>
      <p><a target="_blank" href="mailto:contacto@dplan.co?subject=Servicio al cliente"><i class="fa fa-envelope-o"></i> contacto@dplan.co</a></p>
    </div>
  </div>
  <div class="row">
    <div class="col-lg-12 col-md-12 col-xs-12 footer-w3ls1">
      <p style="padding-top: 20px;text-align: center;">&copy; 2017 DPlan. todos los derechos reservados | <a href="https://dplan.co/" target="_blank">Dplan</a></p>
    </div>
  </div>
</div>
<!-- end footer -->
<!-- Modal header -->
<div class="modal fade" id="largeModal" tabindex="-1" role="dialog" aria-labelledby="largeModal" aria-hidden="true">
 <div class="modal-dialog modal-lg">
  <div class="modal-content">
     <div class="modal-header">
      <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
     </div>
    <div class="modal-body">
     <div class="row">
      <div class="col-lg-6 col-md-6 ">
          <img src="img/equipo.jpg" class="img-responsive" alt="Dplan" title="Dplan">
      </div>
      <div class="col-lg-6 col-md-6">
        <p class="banner-p1">Hola!! Somos DPLAN, un emprendimiento 100% Colombiano. Aqui encontrarás las mejores actividades para realizar cualquier día de la semana. tenemos planes para familias, salidas en pareja o escapes con amigos.</p>
        <p class="banner-p1">En Dplan queremos que conozcas las mejores actividades que puedes realizar a menos de dos horas de la ciudady con personal experto cada área.</p>
        <p class="banner-p1" style="text-align: center;">Bienvenid@ a dplan, tu aliado para salir de la rutina semanal!<br><b> Con el apoyo de mintic Cloudbased y apps.co</b></p>
      </div>
     </div>
    </div>
  </div>
 </div>
</div>
<!-- End Modal header -->
<!-- Modal Contact -->
<div class="modal fade" id="formBePart" tabindex="-1" role="dialog" aria-labelledby="largeModal" aria-hidden="true" ng-controller="activitiesCtrl">
 <div class="modal-dialog modal-lg">
  <div class="modal-content">
    <div class="modal-header">
      <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
     </div>
    <div class="modal-body">
     <div class="row">
      <div class="col-lg-6 col-md-6 col-xs-12">
        <p style="font-size: 20px;text-align: center;padding: 10px;">¿Quieres que tus planes aparezcan en Dplan? Déjanos tus datos y en breve nos contactaremos contigo</p>
      </div>
      <div class="col-lg-6 col-md-6 col-xs-12" style="padding: 12px">
      <form name="loginform">
      <div class="input-group input-group-lg">
        <span class="input-group-addon" id="sizing-addon1"><i class="fa fa-user bigicon"></i></span>
        <input type="text" ng-model="contact.name" class="form-control" placeholder="Tu nombre" aria-describedby="sizing-addon1" required>
      </div>
      <div class="input-group input-group-lg" style="padding-top: 7px">
        <span class="input-group-addon" id="sizing-addon1">@</span>
        <input type="email" ng-model="contact.mail" class="form-control" placeholder="Correo" aria-describedby="sizing-addon1" required>
      </div>
      <div class="input-group input-group-lg" style="padding-top: 7px">
        <span class="input-group-addon" id="sizing-addon1"><i class="fa fa-phone"></i></span>
        <input type="text" ng-model="contact.phone" class="form-control" placeholder="Celular (Opcional)" aria-describedby="sizing-addon1">
      </div>
      <div class="input-group input-group-lg" style="padding-top: 7px">
        <span class="input-group-addon" id="sizing-addon1">
        <i class="fa fa-pencil-square-o bigicon"></i></span>
        <textarea ng-model="contact.description" style="min-height: 150px" class="form-control" id="message" name="message" placeholder="Escribenos sobre tus actividades" rows="7" required></textarea>
      </div>
       <button style="margin-top: 7px; width: 100%" type="submit" ng-disabled="loginform.$invalid" ng-click="sendNewContact()" class="btn btn-primary btn-lg">Contactar <i class="fa fa-paper-plane"></i> </button>
      </form>
      </div>
     </div>
    </div>
  </div>
 </div>
</div>
<!-- End Modal contact -->
<!-- works Contact -->
<div class="modal fade" id="howWorks" tabindex="-1" role="dialog" aria-labelledby="largeModal" aria-hidden="true" ng-controller="activitiesCtrl">
 <div class="modal-dialog modal-lg">
  <div class="modal-content">
    <div class="modal-header">
      <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
     <h3 style="padding-left: 20px">¿Cómo funciona?</h3>
    </div>
    <div class="modal-body">
     <div class="row">
      <div class="col-lg-2 col-md-2 col-xs-12" style="text-align: center;margin-left: 35px">
        <i class="fa fa-5x fa-search" aria-hidden="true"></i>
        <h5>Busca el plan que deseas realizar</h5>
        <p>Usa nuestro buscador para seleccionar los planes de acuerdo a tus gustos y salida de Bogotá</p>
      </div>
      <div class="col-lg-3 col-md-3 col-xs-12" style="text-align: center;">    
       <i class="fa fa-5x fa-calendar-check-o" aria-hidden="true"></i>   
        <h5>Selecciona el día y la cantidad de tiquetes que deseas adquirir.</h5>
        <p>En dplan encontrarás planes para fines de semana y escapes de tu rutina de lunes a viernes.</p>
      </div>
      <div class="col-lg-3 col-md-3 col-xs-12" style="text-align: center;">
        <i class="fa fa-5x fa-money" aria-hidden="true"></i>
        <h5>Compra tu plan en linea con cualquier medio de pago</h5>
        <p>Deja a un lado las excusas y aprovecha ese plan que tanto quieres. Paga con tarjetas débito, crédito, baloto efecty entre otros medios de pago que tenemos.</p>
      </div>
      <div class="col-lg-3 col-md-3 col-xs-12" style="text-align: center;">
        <i class="fa fa-5x fa-qrcode" aria-hidden="true"></i>
        <h5>Recibe un código al completar tu pago</h5>
        <p>La plataforma genera automáticamente un código el cual vas a usar para redimir tu actividad además de todas las indicaciones necesarias que debes tener en cuenta para realizar tu actividad.</p>
      </div>
     </div>
    </div>
  </div>
 </div>
</div>
<!-- End works contact -->
</body>
  <link rel="stylesheet" type="text/css" href="../css/animate.css">
  <link rel="stylesheet" type="text/css" href="../css/style.css" media="none" onload="if(media!='all')media='all'">
  <link rel="stylesheet" type="text/css" href="../css/owl.carousel.min.css" media="none" onload="if(media!='all')media='all'">
  <link rel="stylesheet" type="text/css" href="../css/layout.css" media="none" onload="if(media!='all')media='all'">
  <link rel="stylesheet" type="text/css" href="../css/sweetalert2.min.css" media="none" onload="if(media!='all')media='all'">
  <link rel="stylesheet" type="text/css" href="../css/font-awesome.min.css" media="none" onload="if(media!='all')media='all'">
  <link href='../css/montserrat.css' rel='stylesheet' type='text/css' media="none" onload="if(media!='all')media='all'">
<script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyClaLrPzehTnyhMGE8OT-Kjawkb2XTiGe4&libraries=places" async></script>
<script src="../js/angular.min.js"></script>
<script src="../js/angular-route.min.js"></script>
<script src="../jsmin/app.js"></script>
<script src="../jsmin/services.js"></script>
<script src="../js/routes.js"></script>
<script src="../js/owl.carousel.min.js" async></script>
<script src="../js/sweetalert2.min.js" async></script>
<link rel="stylesheet" type="text/css" href="../css/bootstrap.min.css">
<script src="../js/bootstrap.min.js"></script>
</html>