<div class="container-fluid"> 
  <div class="row" style="padding-top:110px">
    <div class="col-md-6 col-sm-6 col-xs-12" style="padding: 10px 10px 0px 20px">
       <div id="myCarousel" class="carousel slide" data-ride="carousel">
        <ol class="carousel-indicators">
         <li data-target="#myCarousel" data-slide-to="0" class="active"></li>
         <li ng-repeat="act in activity.carousel track by $index" data-target="#myCarousel" data-slide-to="{{$index+1}}"></li>
        </ol>
        <div class="carousel-inner" style="min-height: 0px !important">
          <div class="item active">
           <div style="background-image: url({{activity.url}});" class="customImg"></div>
           </div>
          <div ng-repeat="act in activity.carousel track by $index" class="item">
            <div class="customImg" style="background-image: url({{act}});"></div>
          </div>
        </div>
       </div>
    </div>
     <div class="col-md-6 col-sm-6 col-xs-12 completeF" style="padding: 0px 40px 0px 40px">
        <h1>{{activity.name}}</h1>
        <hr class="mini" style="width: 130px"><br>
        <p class="iconsP"><i class="fa fa-map-marker"></i><b style="padding-left: 2px;"> Ubicación:</b> {{activity.location.name}} Cundinamarca</p>
        <p class="iconsP"><i class="fa fa-road"></i><b> Salida: </b> {{activity.exitBy}}</p>
        <p class="iconsP"><i class="fa fa-clock-o"></i><b style="padding-left: 2px;"> Tiempo aprox: </b> {{activity.distanceTime}}</p>
        <p class="iconsP"><i class="fa fa-sort"></i><b style="padding-left: 2px;"> Categoría: </b> {{activity.categories}}</p>
        <p class="iconsP"><i class="fa fa-users"></i><b> Cupo mínimo:</b>&nbsp; {{activity.availablePersons}}</p>
        <p class="iconsP"><i class="fa fa-money"></i><b> Precio:</b>&nbsp; {{activity.mount | currency: $:0}}</p>
        <p ng-if="activity.rnt !== ''" ng-click="openRnt(activity.imgRnt)"><b>RNT:</b> <abbr title="Registro nacional de turismo">{{activity.rnt}}</abbr> </p>
        <div class="row">
          <div class="form-group col-md-4"> 
            <label for="date">Selecciona el día:</label>
            <input id="dateR" class="form-control" type="date" name="dateReserv" min="{{validSince}}" autofocus="autofocus">
          </div>
          <div class="col-md-2">
            <label for="sel1">Cupos:</label>
            <select class="form-control" ng-change="checkCupo($index)" ng-model="vm.cupos[$index]" id="sel1" style="width: 60px">
             <option ng-repeat="n in range(activity.availablePersons,20)">{{n}}</option>
            </select>
          </div>
          <div class="col-md-3" style="padding-top: 20px;text-align: center;color: #64dd17">
           <h4><b>{{activity.total | currency: $:0}}</b></h4>
          </div>
          <div class="col-md-3">
          <button type="button" id="clickBP" class="animated tada btn btnReserve btn-block" ng-click="reservA($index)" style="background: #64dd17 !important; margin-top: 20px">Comprar</button>
        </div> 
      </div>
     </div>
  </div>
    <div class="row">
      <div class="col-md-6 col-xs-12" style="font-size: 15px!important;overflow: hidden;padding: 0px 40px 0px 20px;text-align: justify;">
        <h3>Información</h3>
        <hr class="mini" style="width: 220px"><br><br>
        <ul class="nav nav-tabs">
          <li class="active"><a ng-click="tab = 1" data-toggle="tab">¿Qué haras?</a></li>
          <li><a ng-click="tab = 2" data-toggle="tab">Ten en cuenta</a></li>
          <li><a ng-click="tab = 4" data-toggle="tab">¿Cómo llegar?</a></li>
        </ul><br>
       <div class="tab-content">
        <div class="tab-pane active" ng-show="tab === 1">
          <div>{{activity.description}} </div><br>
          <b>El plan incluye:</b>
            <div class="tab-pane" style="padding: 7px;text-align: justify;">
              <div ng-repeat="item in activity.detailPlan track by $index">{{item}}</div><br>
            </div>
        </div>
       </div>
        <div class="tab-pane" ng-show="tab === 2" style="padding: 7px;text-align: justify;">
          <div style="padding-top: 3px; text-align: justify-all;" ng-repeat="items in activity.legalInfo track by $index">{{items}}</div><br>
        </div>
        <div ng-show="tab === 4" class="tab-pane" style="padding: 7px;text-align: justify;" id="CLlegr">
          <div> {{activity.arrival}} </div>
          <br>
          <div><b>Escribe en el cuadro de texto tu dirección de origen</b></div>
          <input type="text" id="pac-input" class="form-control" placeholder="Escribe tu dirección aquí">
          <div id="panel_ruta">
          <div><b>Si vienes en carro estas son las indicaciones desde tu ubicación</b></div>
          </div>
        </div>
      </div>
      <div class="col-md-6 col-xs-12" style="padding: 0px 40px 0px 40px">
        
        <ul style="padding-top: 100px" class="nav nav-tabs">
          <li class="active"><a>Ubicación</a></li>
        </ul>
        <div class="tab-pane active" id="map" style="width: 100% !important;height: 300px !important;margin-bottom: 20px;padding-top: 15px"></div>
        </div>
      </div>
 <div class="row">
    <h3 style="padding-left: 22px">También te puede interesar</h3>
    <hr class="mini" style="width: 220px"><br><br>
  <div ng-repeat="activity in referals | orderBy: 'order' " class="col-lg-3 col-md-3 col-sm-6 col-xs-12 animated bounceInUp completeF" style="padding-bottom: 30px;">
   <div class="thumbnail wrp" style="max-height: 270px;cursor:pointer" ng-click="irA(activity._id,activity.name)">
    <div style="width: 100%;height: 160px;background-size: cover; background-repeat:no-repeat; background-position-y:-10px;background-image: url({{activity.url}});" alt="{{activity.description}}"></div>
      <div class="caption">
        <h3 class="title"><b>{{activity.name}}</b></h3>
        <hr class="mini">
        <span class="completeF ptop glyphicon" style="color:#555;font-size: 12px!important; height: 60px;overflow: hidden;"> {{activity.distanceTime}}</span>
      </div>
     </div>
  </div>  
 </div>
</div>
<script type="text/javascript">
  $("#clickBP").click(function(){
    fbq('track', 'Purchase', {
     value: 13000,
     currency: 'COP',
     });
  })
</script>