<!-- Start Homepage -->
<div class="container-fluid">
  <div id="theBody" class="row">
      <div ng-if="total == 0" id="emptyCart">
          <img src="../img/cartEmpty.png">
          <button id="btnGoBack" type="button" class="animated bounceInLeft btn btn-block" ng-click="goBack()">Volver</button>
      </div>
      <div ng-if="total !== 0">
        <div>
            <div id="imgActivity">
                <img ng-src="{{activity.carousel[0]}}"> 
            </div>
        </div>
          <center><h1>Verifica tu compra en</h1></center>
            <center><h2>{{activity.name}}</h2></center>
        <div class="table-responsive totales">
          <table class="table">
            <thead>
              <tr>
                <th>#</th>
                <th>Nombre</th>
                <th>Descripción</th>
                <th># Reservas</th>
                <th>Precio</th>
                <th>Valor</th>
                <th> - </th>
              </tr>
            </thead>
              <tbody>
                  <tr>
                    <td>1</td>
                    <td>{{activity.name}}</td>
                    <td>{{activity.description}}</td>
                    <td>{{activity.quotasBuyed}}</td>
                    <td>{{activity.mount | currency: $:0}}</td>
                    <td>{{activity.total | currency: $:0}}</td>
                    <td><a ng-click="deletePlan($index)"><span style="color:red"> X </span></a></td>
                  </tr>
                </tbody>
          </table>
      </div>
          <div id="btnEpayco">
            <h3>Total: {{activity.total | currency: $:0}} </h3>
            <script src="https://checkout.epayco.co/checkout.js"
              class="epayco-button" data-epayco-key="{{key}}" data-epayco-amount="{{activity.total}}"
              data-epayco-button="https://369969691f476073508a-60bf0867add971908d4f26a64519c2aa.ssl.cf5.rackcdn.com/btns/btn4.png"
              data-epayco-name="{{activity.name}}" 
              data-epayco-description="{{activity.description}}" data-epayco-currency="COP" 
              data-epayco-country="CO"
              data-epayco-test="false"
              data-epayco-response="https://dplan.co/#!/response">
            </script>
          </div>
      </div>
    </div>
</div>