<div class="container-fluid">
 <div class="row">
    <div class="col-lg-12 col-md-12 col-xs-12">
    	jdsodsc
    	<div class="imgATP"></div>
        <h1 class="fx">Cuentanos sobre el plan que deseas realizar y nosotros te asesoramos</h1>
    </div>
 </div>
 <div class="row" style="text-align:center;padding:45px;background-color:#e2e8de;">
 	<center><h2>¿Porqué escogernos?</h2></center>
 	<br>
 	<div class="col-lg-4 col-md-4 col-xs-12">
 	  <i class="fa fa-5x fa-tasks"></i>
 	  <h3>Múltiples planes para realizar</h3>
 	</div>
 	<div class="col-lg-4 col-md-4 col-xs-12">
 	  <i class="fa fa-5x fa-bus"></i>
 	  <h3>Servicio de transporte para grupos (Opcional)</h3>
 	</div>
 	<div class="col-lg-4 col-md-4 col-xs-12">
 	  <i class="fa fa-5x fa-map"></i>
 	  <h3>Un equipo experto de personas certificadas en cada categoría turística.</h3>
 	</div>
 </div>
  <div class="row">
   <div class="col-lg-3 col-md-2 hidden-xs"></div>
    <div class="col-lg-6 col-md-8 col-xs-12" style="padding: 12px">
      <h3 style="font-size: 20px;text-align: center;padding: 10px;">Cuentanos un poco sobre el plan que tienes en mente.</h3>
      <form name="loginform">
      <div class="input-group input-group-lg">
        <span class="input-group-addon" id="sizing-addon1"><i class="fa fa-user bigicon"></i></span>
        <input type="text" ng-model="contact.name" class="form-control" placeholder="Tu nombre" aria-describedby="sizing-addon1" required>
      </div>
      <div class="input-group input-group-lg" style="padding-top: 7px">
        <span class="input-group-addon" id="sizing-addon1">@</span>
        <input type="email" ng-model="contact.mail" class="form-control" placeholder="Correo" aria-describedby="sizing-addon1" required>
      </div>
      <div class="input-group input-group-lg" style="padding-top: 7px">
        <span class="input-group-addon" id="sizing-addon1"><i class="fa fa-phone"></i></span>
        <input type="text" ng-model="contact.phone" class="form-control" placeholder="Celular (Opcional)" aria-describedby="sizing-addon1">
      </div>
    <h3>Que quieres incluir en tu plan:</h3>
      <div>
        <input style="width:30px;float: left;height:30px" type="checkbox" ng-model="contact.transp" value=""> 
        <p style="padding:10px;float: left;">Transporte</p>
      </div>
      <div>
        <input style="width:30px;float: left;height:30px" type="checkbox" ng-model="contact.food" value=""> 
        <p style="padding:10px;float: left;">Alimentación</p>
      </div>
      <div>
        <input style="width:30px;float: left;height:30px" type="checkbox" ng-model="contact.hostal" value=""> 
        <p style="padding:10px;float: left;">Hospedaje</p>
      </div>
      <br>
      <div class="row">
        <div class="col-lg-6 col-md-6 col-xs-6">
         <label>Cantidad de personas</label>
         <select ng-model="contact.qty" class="form-control">
            <option> Entre 1 a 5</option>
            <option> Entre 6 a 10</option>
            <option> Entre 11 a 15</option>
            <option> Entre 16 a 20</option>
            <option> Mas de 21 personas</option>
          </select>
        </div>
        <div class="col-lg-6 col-md-6 col-xs-6">
          <label>Fecha</label>
          <input type="Date" class="form-control" ng-model="contact.dateExit" name="">
        </div>
      </div>
      <div class="input-group input-group-lg" style="padding-top: 7px">
        <span class="input-group-addon" id="sizing-addon1">
        <i class="fa fa-pencil-square-o bigicon"></i></span>
        <textarea ng-model="contact.description" style="min-height: 150px" class="form-control" id="message" name="message" placeholder="Cuéntanos mas sobre el plan que buscas" rows="7" required></textarea>
      </div>
       <button style="margin-top: 7px; width: 100%" type="submit" ng-disabled="loginform.$invalid" ng-click="sendNewContact()" class="btn btn-primary btn-lg">Contactar <i class="fa fa-paper-plane"></i> </button>
      </form>
   </div>
   <div class="col-lg-3 col-md-2 hidden-xs"></div>
 </div> <!--End row--> 
<div class="row carrowselSp">
 	<div class="owl-carousel owl-theme">
 <div class="item">
    <div class="baseIcon" style="width:32px;height:32px;background-image: url(../img/icons/descenso.png);"></div>
    <p class="pS">Eslacadas - Rapel</p>
 </div>
 <div class="item">
    <div class="baseIcon" style="width:32px;height:32px;background-image: url(../img/icons/gastronomia.png);"></div>
    <p class="pS">Escapes gastronomicos</p>
 </div>
 <div class="item">
    <div class="baseIcon" style="width:32px;height:32px;background-image: url(../img/icons/paracaidismo.png);"></div>
    <p class="pS">Parapente</p>
 </div>
 <div class="item">
    <div class="baseIcon" style="width:32px;height:32px;background-image: url(../img/icons/senderismo.png);"></div>
    <p class="pS">Senderismo - Ecoturismo</p>
 </div>
 <div class="item">
    <div class="baseIcon" style="width:32px;height:32px;background-image: url(../img/icons/cabania.png);"></div>
    <p class="pS">Alquiler de cabañas</p>
 </div>
 <div class="item">
    <div class="baseIcon" style="width:32px;height:32px;background-image: url(../img/icons/solsombrilla.png);"></div>
    <p class="pS">Relax</p>
 </div>
 <div class="item">
    <div class="baseIcon" style="width:32px;height:32px;background-image: url(../img/icons/planesUnicos.png);"></div>
    <p class="pS">Planes únicos</p>
 </div>
 <div class="item">
    <div class="baseIcon" style="width:32px;height:32px;background-image: url(../img/icons/cama.png);"></div>
    <p class="pS">Planes con hospedaje</p>
 </div>
 <div class="item">
    <div class="baseIcon" style="width:32px;height:32px;background-image: url(../img/icons/puenting.png);"></div>
    <p class="pS">Bungee</p>
 </div>
 </div>
</div>
</div> <!--End container-->

<script type="text/javascript">
	$('.owl-carousel').owlCarousel({
    loop:true,
    margin:10,
    nav:false,
    autoplay:true,
    responsive:{
        0:{
            items:1
        },
        600:{
            items:3
        },
        1000:{
            items:5
        }
    }
})
</script>