<div class="container-fluid">
  <div class="row" style="padding: 25px;margin-top: 65px">
    <div id="planes" class="container-fluid">
      <div class="row">
        <h3 style="padding-left: 5px">¡Selecciona tu plan!</h3>
        <hr class="mini" style="width:220px;padding-left:5px">        
        <div class="clearfix"></div>
        <!--<div class="hidden-lg hidden-md col-xs-6 animated rollIn completeF" style="padding-bottom: 30px;background-color: rgba(51, 51, 49, 0.08);padding: 7px">
          <p>Saliendo por</p>
          <select class="form-control" ng-change="search" ng-model="search">
            <option value=''>Todos</option>
            <option value='Autopista norte'>Autopista norte</option>
            <option value='Calle 80'>Calle 80</option>
            <option value='Calle 13'>Calle 13</option>
            <option value='Autopista sur'>Autopista sur</option>
          </select>
        </div>
        <div class="hidden-lg hidden-md col-xs-6 animated rollIn completeF" style="padding-bottom: 30px;background-color: rgba(51, 51, 49, 0.08);padding: 7px">
          <p>Tipo de plan</p>
          <select class="form-control" ng-change="searchPlaces" ng-model="searchPlaces">
            <option value=''>Todos</option>
            <option value='Escape 1 día'>Escape 1 día</option>
            <option value='Extremo'>Extremo</option>
            <option value='Pasadía'>Pasadía</option>
            <option value='Biciturismo'>Biciturismo</option>
            <option value='Pesca'>Pesca</option>
            <option value='Gastronómico'>Gastronómico</option>
            <option value='Relax'>Relax</option>
          </select>
        </div>
        <div class="col-lg-3 col-md-3 col-sm-6 hidden-xs animated rollIn completeF" style="padding-bottom: 30px;background-color: rgba(51, 51, 49, 0.08);padding: 7px">
          <h4 style="padding: 10px">Búsqueda avanzada.</h4><br>
          <h5><b>Saliendo por:</b></h5>
          <hr class="mini">
          <p ng-click="searcSite('')">Todos</p>
          <p ng-click="searcSite('Autopista norte')">Autopista norte</p>
          <p ng-click="searcSite('Calle 80')">Calle 80</p>
          <p ng-click="searcSite('Calle 13')">Calle 13</p>
          <p ng-click="searcSite('Autopista sur')">Autopista sur</p>
          <br>
          <h5><b>Categoria:</b></h5>
          <hr class="mini">
          <p ng-click="searcSiteA('')">Todas</p>
          <p ng-click="searcSiteA('Escape 1 día')">Escape 1 día</p>
          <p ng-click="searcSiteA('Extremo')">Extremo</p>
          <p ng-click="searcSiteA('Pasadía')">Pasadía</p>
          <p ng-click="searcSiteA('Biciturismo')">Biciturismo</p>
          <p ng-click="searcSiteA('Pesca')">Pesca</p>
          <p ng-click="searcSiteA('Gastronómico')">Gastronómico</p>
          <p ng-click="searcSiteA('Relax')">Relax</p>
          <br>
          <h5><b>Ciudad:</b></h5>
          <hr class="mini">
          <p>Bogotá</p>
          <p>Medellín - Proximamente</p>
          <p>Cali - Proximamente</p>
          <p>Villavicencio - Proximamente</p>
        </div>-->
        <div ng-repeat="activity in activities | filter:search | filter:searchPlaces | filter:sites | orderBy: 'order'" class="col-lg-3 col-md-3 col-sm-6 col-xs-12 animated fadeInUp completeF" style="padding:6px">
          <div class="thumbnail wrp" style="height:320px;max-height:320px;cursor:pointer" ng-click="irA(activity._id,activity.name)">
            <div class="tabMain">{{activity.location.name}}</div>
            <div class="imgThumbnail" style="background-image: url({{activity.url}});" alt="{{activity.description}}"></div>
            <div class="caption" style="margin-top:-75px;">
              <h3 class="title" style="position:absolute;z-index:2"><b>{{activity.name}}</b></h3>
              <hr class="mini">
              <!--<span class="completeF ptop glyphicon" style="color:#555;font-size: 12px!important; height: 60px;overflow: hidden;"> {{activity.description}}</span>-->
              <h4 style="position: absolute;right: 10px; bottom: 8px;color: #64dd17;"><b>{{activity.mount | currency: $:0}}</b></h4>
              <a ng-click="irA(activity._id,activity.name)" type="button" style="position:absolute;left:12px;bottom:16px;color:#64dd17">Ver más</a>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="clearfix"></div>
  </div>
</div>
<section class="stats" style="margin-top:30px">
  <div class="container">
    <div class="row">
      <div class="col-md-4 col-sm-4 stats-grid stats-grid-1">
        <div class="numscroller" data-slno='1' data-min='0' data-max='30' data-delay='3' data-increment="1">50+</div>
        <i class="fa fa-upload" aria-hidden="true"></i>
        <h4>Planes cargados</h4>
      </div>
      <div class="col-md-4 col-sm-4 stats-grid stats-grid-2">
        <div class="numscroller" data-slno='1' data-min='0' data-max='770' data-delay='3' data-increment="1">750+</div>
        <i class="fa fa-users" aria-hidden="true"></i>
        <h4>Usuarios activos</h4>
      </div>
      <div class="col-md-4 col-sm-4 stats-grid stats-grid-3">
        <div class="numscroller" data-slno='1' data-min='0' data-max='421' data-delay='3' data-increment="1">95+</div>
        <i class="fa fa-credit-card-alt" aria-hidden="true"></i>
        <h4>Planes vendidos</h4>
      </div>
    </div>
  </div>
</section>
<div class="clearfix"></div>
<section id="team" style="padding-bottom:20px">
  <div class="row">
    <div class="col-md-12 col-xs-12">
      <div class="row">
        <div class="col-md-3 col-sm-6 col-xs-12">
          <h3 style="padding-top: 45px;text-align: center; font-size:15px">Con el  apoyo:</h3>
        </div>
        <div class="col-md-3 col-sm-6 col-xs-12">
          <center><img style="padding-top: 40px; width:200px" src="https://sitios.apps.co/teamstartupcolombia/images/svg-pegado-17451x51.svg?crc=3837179556" alt="Apps.co"></center>
        </div>
        <div class="col-md-3 col-sm-6 col-xs-12">
          <center><img style="width: 200px;padding-top: 20px;" src="../img/cloudBased.png" alt="Runbikers"></center>
        </div>
        <div class="col-md-3 col-sm-6 col-xs-12">
          <center><img style="width: 200px" src="./img/runbikers.png" alt="Runbikers"></center>
        </div>
      </div>
    </div>
  </div>
</section>