  <div class="row sticky theHeader" id="actividades" style="background-color: #64dd17; min-height: 60px">
    <nav id="mainnav">
      <div class="container">
        <div class="row">
          <div class="span4">
            <a href="/" class="logo"><img src="./img/cviajaLt.png" style="margin-top: -12px;width: 60px;margin-left: 0px;" alt=""></a>
          </div>
          <div class="span8">
            <ul id="fluid-nav" class="fluid-navigation visible-desktop">
              <li class="current"><a href="#home">Inicio</a></li>
              <li><a href="#portfolio">Actividades</a></li>
            </ul>
          </div>
        </div>
      </div>
    </nav>
  </div>
  <div class="container" style="padding-top: 50px">
    <div class="row" style="margin-top:20px">
      <div class="col-lg-8 col-lg-offset-2 ">
        <h4 style="text-align:left"> Respuesta de la Transacción </h4>
        <hr>
      </div>
      <div class="col-lg-8 col-lg-offset-2 ">
        <div class="table-responsive">
          <table class="table table-bordered">
            <tbody>
              <tr>
                <td>Referencia</td>
                <td>{{resultTransaction.x_id_invoice}}</td>
              </tr>
              <tr>
                <td class="bold">Fecha</td>
                <td class="">{{resultTransaction.x_transaction_date}}</td>
              </tr>
              <tr>
                <td>Respuesta</td>
                <td>{{resultTransaction.x_response}}</td>
              </tr>
              <tr>
                <td>Motivo</td>
                <td>{{resultTransaction.x_response_reason_text}}</td>
              </tr>
              <tr>
                <td class="bold">Banco</td>
                  <td class="">{{resultTransaction.x_bank_name}}</td>
              </tr>
              <tr>
                <td class="bold">Recibo</td>
                <td>{{resultTransaction.x_approval_code}}</td>
              </tr>
              <tr>
                <td class="bold">Total</td>
                  <td class="" id="total">
                      {{resultTransaction.x_amount | currency: $:0}} {{resultTransaction.x_currency_code}}
                </td>
              </tr>
            </tbody>
          </table>
        </div>
        <button id="btnGoBack" type="button" class="animated tada btn btn-block" ng-click="goBack()">Volver</button>
      </div>
    </div>
  </div>
  <footer>
    <div class="row">
      <div class="container">
        <div class="col-lg-8 col-lg-offset-2">
          <img src="https://369969691f476073508a-60bf0867add971908d4f26a64519c2aa.ssl.cf5.rackcdn.com/btns/epayco/pagos_procesados_por_epayco_260px.png" style="margin-top:10px; float:left"> <img src="https://369969691f476073508a-60bf0867add971908d4f26a64519c2aa.ssl.cf5.rackcdn.com/btns/epayco/credibancologo.png"
            height="40px" style="margin-top:10px; float:right">
        </div>
      </div>
    </div>
  </footer>